      <form class="form-inline my-2 my-lg-0 mr-5 mb-lg-3">
        <div class="input-group mb-3 w-100 ml-5">
          <input type="text" class="form-control py-4">
          <button type="button" class="btn bg-white px-3"><i class="fa-solid fa-magnifying-glass"></i></span>
        </div>
      </form>
            <!-- Button trigger modal createNV -->
 <button type="button" class="btn btn-success createNV float-right my-3 rounded mr-3" data-toggle="modal" data-target="#modalCreateNV">
  <i class="fa-solid fa-user-plus"></i>
</button>
      <table class="table table-bordered table-dark">
        <thead>
          <tr class="text-center text-warning align-middle" style="font-size: 1.15rem;">
            <th scope="col">STT</th>
            <th scope="col">Tên nhân viên</th>
            <th scope="col">Lương căn bản</th>
            <th scope="col">Chức vụ</th>
            <th scope="col">ngày vào làm</th>
            <th scope="col"><i class="fa-solid fa-sliders"></i></th>
          </tr>
        </thead>
        <tbody class="text-center">
          {{#each users}}
          <tr>
            <th scope="row" class="align-middle">{{sum @index 1}}</th>
            <td class="align-middle">{{this.displayName}}</td>
            <td class="align-middle">{{this.basicSalary}}</td>
            <td class="align-middle">{{this.position}}</td>
            <td class="align-middle">{{this.startDay}}</td>
            <td class="align-middle">
              <a href="" class="btn btn-danger my-2" data-toggle="modal" data-iddelete={{this._id}} data-target="#modalDeleteNV"><i class="fa-solid fa-trash-can"></i></a>
              <a href="/users/{{this._id}}/edit" class="btn btn-success my-2 btnUpdateNV"><i
                  class="fa-regular fa-pen-to-square"></i></a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>

<!-- Modal createNV -->
<div class="modal fade" id="modalCreateNV" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Thêm nhân viên mới</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="users/create">  
        <div class="form-group">
            <label for="displayName">Tên Nhân Viên</label>
            <input type="text" class="form-control" id="displayName" name="displayName">
        </div>
        <div class="form-group">
            <label for="basicSalary">Lương căn bản</label>
            <input type="number" class="form-control" id="basicSalary" name="basicSalary">
        </div>
        <div class="form-group">
            <label for="position">Chức vụ</label>
            <input type="text" class="form-control" id="position" name="position">
        </div>
        <div class="form-group">
            <label for="startDay">Ngày vào làm</label>
            <input type="text" class="form-control" id="startDay" name="startDay">
        </div>
        <button type="submit" class="btn btn-success float-right my-3">Thêm mới</button>
    </form>
      </div>
      {{!-- <div class="modal-footer">
      </div> --}}
    </div>
  </div>
</div>

{{!-- Confirm delete course --}}
<div id="modalDeleteNV" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      {{!-- <div class="modal-header">
        <h5 class="modal-title">Xóa khóa học?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> --}}
      <div class="modal-body">
        <p>Bạn chắc chắn muốn xóa nhân viên này?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button id="btn-delete-user" type="button" class="btn btn-danger">Xóa bỏ</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete hidden form --}}
<form name="delete-user-form" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var userId;
        var deleteForm = document.forms['delete-user-form'];
        var btnDeleteUser = document.getElementById('btn-delete-user');
        // When dialog confirm clicked
        $('#modalDeleteNV').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            userId = button.data('iddelete');
        });
        
        // When delete user btn clicked
        btnDeleteUser.onclick = function () {
            deleteForm.action = `/users/${userId}?_method=DELETE`;
            deleteForm.submit();
        }
    });
</script>